/*
  Custom css rules for vultor.com
  created by... Shawn Roe, of course.

  background-color: #446CB3;
  green button color: #3EAE9B;
  green darker btn: #1F9783;
*/

@font-face {
  font-family: 'Catull';
  src: url('/libraries/fonts/Catull.ttf');
}
@font-face {
  font-family: 'Catull';
  src: url('/libraries/fonts/Catull-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Catull';
  src: url('/libraries/fonts/Catull-Italic.ttf');
  font-style: italic;
}

body {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #446CB3;
}

.center {
  text-align: center;
}

/* Custom container */
.container {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 980px;
  background-color: #fff;
}

h1, h2, h3 {
  font-family: 'Catull', 'Georgia', serif;
  font-weight: bold;
}

header span {
  font-size: .5em;
  line-height: .7em;
  font-weight: normal;
  font-style: italic;
}

.main-content {
  padding: 0 0 20px 0;
}

.main-content > hr {
  margin: 30px 0;
}

img.float-left {
  float: left;
}

h4, .nav-top {
  font-size: 1.6em;
  line-height: 1.6em;
}

label, input, button, select, textarea {
font-size: 1em;
font-weight: bold;
line-height: 1em;

.rounded-corners {
border-radius: 16.5%;
}

.rounded-corners-2 {
border-radius: 2%;
}